
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <h1 id='logo'>
        <%= image_tag 'logo3.png' %>
        <%#= link_to Refinery::Core.site_name, refinery.root_path %>
      </h1>
    </div>
    <div class="col-md-8 text-right">
      <%= copywriting_options({:scope => 'header', :phrase_type => 'wysiwyg'}) do %>
        <h3><i class="fa fa-phone-square"></i> <%= copywriting('phone number', {:phrase_type => 'string', :default => '309-762-5295'}) %></h3>
        <h3><i class="fa fa-envelope"></i> <%= copywriting('email', {:phrase_type => 'wysiwyg'}).html_safe %></h3>
        <p><%= copywriting('address', {:phrase_type => 'wysiwyg'}).html_safe %></p>
      <% end %>
    </div>
  </div>
</div>

<div id="nav-section">
<div class="container">
  <div class="row">
    <div class="col-md-12"><%= main_nav_nobg.to_html %></div>
  </div>
</div>
</div>

