<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>

      <div class="container">
        <div class="row" id="main-content">
          <div class="col-md-2" id="left-sidebar">
            <%= copywriting_options({:scope => 'left_sidebar', :phrase_type => 'wysiwyg'}) do %>
              <%= copywriting('hours', {:phrase_type => 'wysiwyg'}).html_safe %>
              <%= copywriting('links', {:phrase_type => 'wysiwyg'}).html_safe %>
            <% end %>
          </div>
          <div class="col-md-7">
            <%= yield %>
          </div>
          <div class="col-md-3">
            <h2><a href="https://www.facebook.com/thunderroadhobbies"><i class="fa fa-facebook-square"></i> Like us on Facebook</a></h2>
            <h2>Events</h2>
              <%= copywriting('events', {:phrase_type => 'wysiwyg'}).html_safe %>
          </div>

        </div>

      </div>
        
     
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
